@model Wedding

<div class="row">
  <form asp-action="CreateWedding" asp-controller="Home">
    <h1>Plan Your Wedding</h1>
    <span class="text-danger" asp-validation-for="WedderOne"></span>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" asp-for="WedderOne"></label>
      </div>
      <input class="form-control" asp-for="WedderOne">
    </div>
  </form>
</div>